.App {
  text-align: center;
}

:root{
    --white:#fff;
    --primarty:#f66e00;
    --secondary:#CBBAAF;
}


body{
    background: #483F3B url(./image/page_background.png) repeat-x;
    font-family: 'Noticia Text', serif;
    color: var(--white);
}
*{
    padding: 0;
    margin: 0;
    text-align: left;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--white);

}
.container{
    width: 990px;
    margin: 0 auto;
}

/* ------- Header start -------- */
#Header{
    padding: 10px 0;
    border-bottom:5px solid #5d514b;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 15px;
}

.header-logo,.header-quote{
    display: inline-block;
}
.header-logo img{
    margin: 10px 0 -7px ;
}
.header-logo a{
    float: right;
    padding: 7px 30px 7px 20px;
    border-right: 1px solid #5d514b;
}

.header-title{
    font-size: 30px;
}

.header-title, .header-subtitle{
    font-weight: 400;
    line-height: 1;
    font-family: 'Noticia Text', serif;
    text-transform: capitalize;
    display: block;
}

.header-subtitle{
    color: var(--secondary);
    font-size: 18px;
    text-align: left;
}

.header-quote{
    padding: 0 0 0 30px;
}
.header-quote h5{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
.header-quote h5 span{
    color: var(--secondary);
    line-height: 1.5;
}

.header-phone{
    background-image: url(./image/icon_contact.png);
    background-repeat: no-repeat;
    padding: 0 0 0 60px;
}
.header-phone h5{
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    text-align: left;
}
.header-phone h5 span{
    color: var(--secondary);
    line-height: 1.5;
}

/* ------- Header end -------- */



/* ------- Main start --------- */
#main{
    margin-bottom: 30px;
}


/* ------- Main end ----------- */



/* ------ Footer start -------- */
#footer{
    margin-bottom: 50px;
}
.footer-container{
    display: flex;
}

.footer-container > div{
    max-width: 380px;
    margin-right: 18px;
    width: 32%;
}
.footer-container > div:last-child{
    margin-right: 0px;
}

.footer-title{
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 35px;
    text-align: left;
    padding-left:24px;
    background-repeat: no-repeat !important;
    background-position: left 5px !important;
}

.footer-container .carousel-next,.footer-container .carousel-prev{
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
}

.footer-container a:hover{
    background-position: 0 -15px!important;
}
.footer-container .carousel-prev{
    background: url(./image/icon_navbar_up.png);
    top: 0;
    right: 20px;
}

/* === React Slick carousel */
.slick-prev, .slick-next{
    top: -54px!important;
    width: 15px!important;
    height: 15px!important;


}
.slick-prev{
    content: ' '!important;
    left: 282px!important;
    z-index: 10!important;
    background: url(./image/icon_navbar_up.png)!important;


}
.slick-next{
    content: ' '!important;
    right: 0px!important;
    background: url(./image/icon_navbar_down.png)!important;

}
.slick-prev:hover, .slick-next:hover {
    background-position: 0 -15px!important;

}
.slick-prev::before{
    display: none!important;
    /* width: 15px!important;
    height: 15px!important;
    position: absolute!important;
    content: ' '!important;
    background: red!important;
    top: 0px!important;
    left: 0px!important; */
}
.slick-next::before{
    display: none!important;
    /* width: 15px!important;
    height: 15px!important;
    position: absolute!important;
    content: ''!important;
    background: red!important;
    top: 0px!important;
    right: 0px!important;
    background-position: 0 0px!important; */

}
.slick-prev::before:hover{
    background-position: 0 -15px!important;
}
/* === React Slick carousel */



.footer-container .carousel-next{
    background: url(./image/icon_navbar_down.png);
    top: 0;
    right: 0;
}
/* ------------- */
.footer-news,.footer-testimonials{
    position: relative;
}
.footer-news .footer-title{
    background-image: url(./image/icon_chat.png);
}
.footer-news-main,.footer-testimonials-main{
    height: 200px;
    overflow: hidden;
}
.news-list{
    position: relative;
}

.news-list li, .testimonials-list li{
    display: flex;
    margin-bottom: 34px;
}
.news-list-date{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 13px;
    padding-right: 18px;
    border-right: 1px solid #5D514B;
}
.news-list-content,.testimonials-list-content{
    margin-left: 15px;
}
.news-list-content >h6 , .testimonials-list-content >h6{
    font-size: 16px;
    font-weight: 400;
}
.news-list-content>p ,.testimonials-list-content>p{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Voces', cursive;
    color: var(--secondary);
    margin-top: 10px;
}

/* -------------- */
.footer-testimonials .footer-title{
    background-image: url(./image/icon_notes.png);
    margin-bottom: -25px;
}
.footer-testimonials-main{
    padding-top: 66px;
}
.testimonials-list li{
    background: url(./image/icon_quote.png);
    background-repeat: no-repeat;
}
.testimonials-list-content{
    margin-left: 37px;
}
.footer-testimonials-main .carousel-next,.footer-testimonials-main .carousel-prev{
    display: none;
}

/* -------------- */
.footer-legal .footer-title{
    background: url(./image/legal-icon.png);
}
.legal-list li{
    padding: 5px 0 5px 21px;
    border-bottom: solid 1px #5D514B;
    background: url(./image/bullet_small.png);
    background-repeat: no-repeat;
    background-position: center left;
    width: 41%;
    display: inline-block;
    margin-right: 15px;
}
.legal-list li:nth-child(2n){
    margin-right: 0;
}

.legal-list li a{
    font-size: 13px;
    font-family: 'Voces', cursive;
    text-transform: capitalize;
    line-height: 1.5;
}
.legal-list li a:hover{
    text-decoration: underline;
}
/* ------ Footer end ------ */

/* -------- Footer Bottom start */

#footer-bottom{
    background-color:#241F1D;
    position:fixed;
    bottom: 0px;
    display: block;
    width: 100%;
    font-size: 12px;
    font-family: 'Voces', cursive;
    line-height: 19.5px;
    padding: 15px 0 15px 0;
    border-top: 1px solid #3a322f;
    outline: 1px solid #241F1D;
}

.footer-bottom-main{
    display: flex;
    justify-content: space-between;
}

.footer-copyright a,.footer-bottom-menu{
    text-transform: capitalize;
}

.footer-bottom-main ul li{
    display: inline-block;
    margin-left: 15px;
}
/* -------- Footer Bottom end */
